.container {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-main);
}
header{
  padding-bottom: var(--spacing-extra-extra-large);
}
.main {
  width: 100%;
  height: 100%;
  background-color: var(--background-main);
  padding: var(--spacing-extra-extra-large);
}
