@keyframes fadeSlideIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* Caret animation */
@keyframes typing {
  from {
    width: 0ch;
    border-right: 3px solid var(--text-main);
  }
  to {
    width: 42ch;
    border-right: none;
  }
}

@keyframes blinkCaret {
  50% {
    border-color: transparent;
  }
  100% {
    border-color: var(--text-main);
  }
}

.rootContainer {
  min-width: 375px;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-main);
  overflow-x: hidden;
}

.container {
  animation: fadeSlideIn 0.8s ease forwards;
}

.header {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}

/* .heading {
  width: 100%;
  color: var(--text-main);
  margin-top: 48px;
  text-align: center;
  font-family: var(--font-heading);
  font-size: var(--text-3x-large);
  letter-spacing: 8px;
  position: absolute;
  z-index: 1;
} */
.heading {
  color: var(--text-main);
  margin-top: 48px;
  font-family: var(--font-heading);
  font-size: var(--text-3x-large);
  letter-spacing: 5px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid var(--text-main);
  width: 0ch; /* initial width must match animation */
  animation: typing 4s steps(42, end) forwards;
  display: inline-block;
}

.headingWrapper {
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.picContainer {
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/DJ-black-white.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
  isolation: isolate;
}

/* This dark overlay will curve and fade at the top */
.picContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: radial-gradient(
    ellipse at top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0) 60%
  );
}

.buttonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  position: relative;
}
.contactButton {
  width: 250px;
  height: 48px;
  background-color: var(--background-main);
  border: 2px solid var(--text-main);
  border-radius: 999px;
  color: var(--text-main);
  font-size: var(--text-large);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.contactButton:hover {
  box-shadow: 0 0 16px 2px gray;
}

.contactSection {
  width: 100%;
  padding: var(--spacing-extra-extra-large);
}

.contactHeading {
  color: var(--text-main);
  font-family: var(--font-heading);
  letter-spacing: 2px;
  font-size: var(--text-2x-large);
}

.contactDescription {
  max-width: 50%;
  color: var(--text-main);
  padding: var(--spacing-medium) 0;
  font-family: var(--font-body);
}

/* Media screen */
@media screen and (max-width: 768px) {
  .contactSection {
    padding: var(--spacing-extra-extra-large) var(--spacing-medium);
  }
  .contactDescription {
    max-width: 100%;
    padding-right: var(--spacing-small);
  }
}
