.rootContainer {
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-main);
}

.header {
  width: 100%;
  height: 700px;
  display: flex;
  flex-direction: column;
}

.picContainer {
  width: 100%;
  height: 100%;
  background-image: url("/assets/images/DJ-black-white.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  position: relative;
  isolation: isolate;
}

/* This dark overlay will curve and fade at the top */
.picContainer::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background: radial-gradient(
    ellipse at top,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.8) 20%,
    rgba(0, 0, 0, 0.4) 40%,
    rgba(0, 0, 0, 0) 60%
  );
}

.heading {
  width: 100%;
  color: var(--text-main);
  margin-top: 48px;
  text-align: center;
  font-family: var(--font-heading);
  font-size: var(--text-3x-large);
  letter-spacing: 8px;
  position: absolute;

  z-index: 1;
}

.buttonContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 150px;
  position: relative;
}
.contactButton {
  width: 250px;
  height: 48px;
  background-color: var(--background-main);
  border: 2px solid var(--text-main);
  border-radius: 999px;
  color: var(--text-main);
  font-size: var(--text-large);
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.contactButton:hover {
  box-shadow: 0 0 16px 2px gray;
}

.contactSection {
  width: 100%;
  padding: var(--spacing-extra-extra-large);
}

.contactHeading {
  color: var(--text-main);
  font-family: var(--font-heading);
  letter-spacing: 2px;
  font-size: var(--text-2x-large);
}
